################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Enigma
/Decrypter/bin/Release
/Decrypter/obj/Release
